@model IList<Data.Models.Games>

<h1 align="center">GameRatings</h1>
<br />
<div class="gamelist">
    <form action="" method="post">
        <p aling="center">
            <input type="text" size="20" name="search" value="@ViewData["search"].ToString()" />
            <input type="submit" value="search" />
        </p>
        <table align="center" border="1" style="border-color: gainsboro" cellpadding="5">
            <tr>
                <th>
                    Name <button name="orderName" asp-controller="Games" asp-action="Index" value="nameasc">▲</button>
                    <button name="orderName" asp-controller="Games" asp-action="Index" value="namedesc">▼</button>
                </th>
                <th>Genre</th>
                <th>Developer</th>
                <th>
                    Publisher <button name="orderName" asp-controller="Games" asp-action="Index" value="publisherasc">▲</button>
                    <button name="orderName" asp-controller="Games" asp-action="Index" value="publisherdesc">▼</button>
                </th>
                <th style="white-space:nowrap;">
                    Rating <button name="orderName" asp-controller="Games" asp-action="Index" value="ratingasc">▲</button>
                    <button name="orderName" asp-controller="Games" asp-action="Index" value="ratingdesc">▼</button>
                </th>
            </tr>
            @foreach (var gms in Model)
            {
                int i = 0;
                <tr>
                    <td class="greytd"><a href="/GameDetails?name=@gms.Name">@gms.Name</a></td>
                    <td>
                        @foreach (var gnr in gms.Genres)
                        {
                        <a href="/GameDetails/Edit?name=@gms.Name">@gnr.Name</a>
                            if (i < gms.Genres.Count - 1)
                            {
                                @Html.Raw(", ")
                            }
                            i++;
                        }
                    </td>
                    <td class="greytd">
                        @{i = 0;
                        }
                        @foreach (var dev in gms.Developers)
                        {
                        <a href="/GameDetails/Edit?name=@gms.Name">@dev.Name</a>
                            if (i < gms.Developers.Count - 1)
                            {
                                @Html.Raw(", ")
                            }
                            i++;
                        }
                    </td>
                    <td><a href="/GameDetails/Edit?name=@gms.Name">@gms.Publisher.Name</a></td>
                    <td class="greytd"><a href="/GameDetails/Edit?name=@gms.Name">@gms.Rating.Score</a></td>
                </tr>
            }
        </table>
    </form>
</div>