@model GamesViewModel

<form method="post">
    <div class="wrapper">
        <div>
            <h2>@Model.Name</h2>
        </div>
        <div class="score">
            @Html.TextBoxFor(m => m.Score)<br />
        </div>
        <div>
            <b>Developer</b>
            <hr />
            @Html.TextBoxFor(m => m.Developers, new { list = "devs" }) (Einträge durch ';' trennen)
            <datalist id="devs">
                @*@foreach (string dev in Model.DevList)
                {
                    <option>@dev</option>
                }*@
            </datalist>
            <br /><br />
            <b>Publisher</b>
            <hr />
            @Html.TextBoxFor(m => m.Publisher, new { list = "publishers"})
            <datalist id="publishers">
                @*@foreach (string publisher in Model.PublisherList)
                {
                    <option>@publisher</option>
                }*@
            </datalist>
            <br /><br />
            <b>Genre</b>
            <hr />
            @Html.TextBoxFor(m => m.Genres, new { list = "genres"}) (Einträge durch ';' trennen)
            <datalist id="genres">
                @*@foreach (string genre in Model.GenreList)
                {
                    <option>@genre</option>
                }*@
            </datalist>
            <br /><br />
            <b>Beschreibung</b>
            <hr /><br />
            @Html.TextAreaFor(m => m.Description, new { style = "width:500px; height:150px" })
        </div>
        <div>
            <img src="@Url.Content(ViewData["img"].ToString())" runat="server" width="200" height="300" />
        </div>
        <div>
            <a href="@Model.Link">Mehr Informationen</a>
        </div>
        <div>
            <input type="hidden" name="name" value="@Model.Name" />
            <Button name="saveChanges" asp-controller="GameDetails" asp-action="SaveChanges">Änderungen speichern</Button> 
        </div>
    </div>
</form>