@model Data.Models.Games

<div class="wrapper">
    <div>
        <h2>@Model.Name</h2>
    </div>
    <div class="score">
        <b>@Model.Rating.Score</b><br />
    </div>
    <div>
        Developer:
        @{
            int i = 0;
            foreach (var dev in Model.Developers)
            {
                @dev.Name
                if (i < Model.Developers.Count - 1)
                {
                    @Html.Raw(", ");
                }
                i++;
            }
        }
        <br />
        Publisher: @Model.Publisher.Name
        <br /><br />
        @Model.Description
    </div>
    <div>
        <img src="@Url.Content(ViewData["img"].ToString())" runat="server" width="200" height="300"/>
    </div>
    <div>
        <a href="@Model.Link.Link">Mehr Informationen</a>
    </div>
    <div>
        <a href="GameDetails/Edit?name=@Model.Name">Edit</a>
    </div>
</div>