@model NewGameViewModel

<h1 align="center">Neues Spiel hinzufügen</h1>
<br />
<form method="post">
    <div class="newgamewrapper">
        <div>
            <b>Name</b>
            <hr />
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            <b>Developers</b> (durch ';' trennen)
            <hr />
            @Html.TextBoxFor(m => m.Developers, new { list = "devs" })
            <datalist id="devs">
                @foreach (string dev in Model.DevList)
                {
                    <option>@dev</option>
                }
            </datalist>
        </div>
        <div>
            <b>Genres</b> (durch ';' trennen)
            <hr />
            @Html.TextBoxFor(m => m.Genres, new { list = "genres" })
            <datalist id="genres">
                @foreach (string genre in Model.GenreList)
                {
                    <option>@genre</option>
                }
            </datalist>
        </div>
        <div>
            <b>Platforms</b> (durch ';' trennen)
            <hr />
            @Html.TextBoxFor(m => m.Platforms, new { list = "platforms" })
            <datalist id="platforms">
                @foreach (string platform in Model.PlatformList)
                {
                    <option>@platform</option>
                }
            </datalist>
        </div>
        <div>
            <b>Publisher</b>
            <hr />
            @Html.TextBoxFor(m => m.Publisher, new { list = "publishers" })
            <datalist id="publishers">
                @foreach (string publisher in Model.PublisherList)
                {
                    <option>@publisher</option>
                }
            </datalist>
        </div>
        <div>
            <b>Erscheinungsjahr</b>
            <hr />
            @Html.TextBoxFor(m => m.PubYear)
        </div>
        <div class="newgamedesc">
            <b>Beschreibung</b>
            <hr />
            @Html.TextAreaFor(m => m.Description, new { style = "width:400px; height:150px" })
        </div>
        <div>
            <b>Score</b>
            <hr />
            @Html.TextBoxFor(m => m.Score)
        </div>
        <div>
            <b>Link</b>
            <hr />
            @Html.TextBoxFor(m => m.Link)
        </div>
        <div>
            <br />
            <br />
            <input type="submit" value="speichern" asp-action="Save" />
        </div>        
    </div>
</form>